## -*- coding: utf-8 -*-
<!doctype html>
<html>
	<head>
		<title><%block name="title">Top</%block> &ndash; Mr Darcy</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:600|Raleway:500' rel='stylesheet' type='text/css'>
				<link rel="stylesheet" type="text/css" media="all" href="reset.css" />
				<link rel="stylesheet" type="text/css" media="all" href="style.css" />

	</head>
	<body>
		<div class="top">
			<div class="upper">
				<h1> <a href="index.html"> MR DARCY </a> </h1>
				<h3> blah </h3>
			</div>
		</div>

		<div class="content">
			<div class="other">
			${self.body()} 
			</div>
		

			<div class="sidebar">
				<em>
				I'm a file sharing deviant with no moral center. My name is Sean.<p>
				<br>
				<br>
				</p>
				<a href="archive.html"> Archives </a>.
				<p></p>
				<a href="http://github.com/darcys22"> GitHub </a>
				</em>
			</div>
		</div>
	</body>
</html>

